* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    height: 800px;
    background-color: #7853a2;

    .repuclic {
        z-index: 2;
        right: 94px;
        position: absolute;
        top: 1.8rem;
    }
}

.container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    &_link {
        width: 60%;
        justify-content: space-around;
        display: flex;
        font-size: 1.2rem;
        padding-left: 2rem;
        .item {
            
            box-shadow: 0 3px #fff;
        }
        a {
            text-decoration: none;
            color: #fff;
        }

    }


    &_item {
        width: 27%;
        display: flex;
        justify-content: end;
        padding-right: 4rem;
        margin-top: 5px;
        &-link {
            color: #fff;
            font-size: 1.2rem; 
            padding-right: 1rem;
            i {
                padding-right: 2rem;
            }
        }
    }

    &_conten {
    color: #fff;
    font-size: 3rem;
    width: 40%;
    height: 120px;
    padding-left: 14rem;
    margin-top: 8rem;
    }

}

.layer {
    margin-left: 12rem;
    position: absolute;
    padding-top: 7rem;  
    height: 140%;
}

.conten {
    color: #fff;
    font-size: 1.2rem;
    width: 25%;
    margin: 0 auto;
    height: 200px;
    background-color: #ba469a;
    margin-left: 24rem;
    p{
       padding: 2rem;
    }
}

.shape {
    width: 30%;
    margin-left: 60%;
    margin-top: -20rem;
    img {
        width: 100%;
    }
}

.container_paging {
    margin-left: 6.1rem;
    justify-content: space-between;
    width: 46%;
    display: flex;
    font-size: 2rem;

    &-heart {
        color: #e4dfef;
        a {
            color: #ea572a;
        }
    }

    i {
        color: #e4dfef;
    }
}




//section 
main {
    overflow-x: hidden;
}
.section1 {
    width: 100%;
    background-color: #3994d1;
    

    &_products {
        width: 100%;
        height: 969px;
        display: flex;
        align-items: center;

        &-conten {
            width: 44%;
            height: 520px;
            color: #fff;
            margin-left: 14%;

            h1 {
                font-size: 3.2rem;
                font-weight: 500;
            }
            p {
                width: 65%;
                font-size: 1.2rem;
                padding-top: 6rem;
            }

            button {
                margin-top: 8rem;
                width: 65%;
                height: 80px;
                background-color: #5da7d9;
                border: none;
                
                a {
                    text-decoration: none;
                    box-shadow: 0 3px #fff;
                    padding: 4px;
                    color: #fff;

                }
            }
        }

        &-image {
            display: flex;

            &-one {
                width: 260px;
                height: 460px;
                background-color: #e4dfef;
                align-items: center;
                margin: -3rem 45px 0px -10rem;

                img {
                    width: 100%;
                    padding-bottom: 2rem;
                }

                span {
                    margin-left: 25px;
                }

                h3 {
                    width: 63%;
                    padding-top: 3rem;
                    font-weight: 400;
                    margin-left: 25px;
                    font-size: 1.5rem;
                }
            }

            &-tow {
                width: 260px;
                height: 460px;
                background-color: #7853a2;
                align-items: center;
                margin: -3rem 72px 0 0rem;

                .tow_item {
                    padding-top: 110%;
                    color: #ffffff;
                   span {
                        margin-left: 25px;
                   }

                   h3 {
                        width: 63%;
                        padding-top: 3rem;
                        font-weight: 600;
                        margin-left: 25px;
                        font-size: 1.5rem;
                        font-style: italic;
                   }
                }

            }

            h1 {
                position: absolute;
                font-size: 7.5rem;
                z-index: 1;
                right: 113px;
                // margin-top: 2rem;
                color: #e5e0f0;
            }

            &-three {
                width: 260px;
                height: 460px;
                background-color: #ea572a;
                align-items: center;
                margin: -3rem 0 0 -26px;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    padding-bottom: 2rem;
                }

                .three_item {
                    padding-top: 24px;
                    color: #ffffff;
                    span {
                        margin-left: 25px;
                    }


                    h3 {
                        width: 100%;
                        padding-top: 2rem;
                        font-weight: 600;
                        margin-left: 25px;
                        font-size: 1.5rem;
                        font-style: italic;
                        padding-bottom: 3.2rem;
                    }
                }

                
            }
        }
    }
}


.section2 {
    width: 100%;
    border: #e6e1f0 solid 30px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    img {
        width: 50%;
    }

    &_conten {
        width: 50%;
        margin-left: 10rem;

        span {
            font-size: 2.8rem;
            color: #414042;
        }

        h1 {
            width: 52%;
            margin-top: 7rem;
            font-size: 3.5rem;
            color: #7853a2;
        }
        
        p {
            margin-top: 20px;
            width: 90%;
            color: #414042;
        }
        
    }
}

.section3 {
    width: 100%;

    img {
        width: 100%;
    }

    &_conten {
        padding-left: 14rem;
        width: 100%;
        background-color: #9277b5;
        display: flex;
        margin-top: -3px;
        padding-top: 2rem;
       

        &-even {
            width: 40%;
            font-size: 1.5rem;
            color: #ffffff;
            z-index: 2;

            h1 {
                width: 120%;
                font-size: 3.5rem;
                padding: 1rem 0;
            }

            p {
                padding-bottom: 4rem;
            }
        }

        &-calendar {
            width: 21%;
            background-color: #7853a2;
            margin-top: -30px;
            z-index: 1;
            display: grid;
            font-size: 3rem;
            align-items: center;
            margin-left: 4.5rem;
            color: #ffffff;

            i {
                padding-left: 6rem;
                font-size: 5rem;
                padding-top: 1rem;
            }

            span {
                margin-bottom: 3rem;
                margin-left: 10px;
            }
        }

        &-hotel {
            padding-left: 3rem;
            width: 30%;
            font-size: 1.4rem;
            margin-top: 4rem;
            display: flex;
            color: #ffffff;

            i {
                font-size: 2.8rem;
                padding-right: 1rem;
            }

            h2 {
                width: 110%;
                font-size: 2.8rem;
                padding-bottom: 10px;
            }
        }
    }
}


.section4 {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding-left: 14rem;

    &_item {
        position: absolute;
    }

    img {
        width: 47%;
        padding-bottom: 7rem;
        margin-top: 9%;
        position: relative;
        padding-right: -56rem;
        margin-left: 35rem;
    }

    h1 {
        width: 70%;
        font-size: 3.8rem;
        padding-bottom: 3rem;
        color: #ea572a;
    }
    p {
        font-size: 1.4rem;
        padding-bottom: 10px;
    }

    
}


.p {
    width: 39%;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.section4_item-link {
    display: flex;
    color: #414042;
    i {
        font-size: 2.5rem;
        color: #f6b5a1;
        margin-right: 20px;
    }

    h2 {
        font-size: 2.1rem;
    }
}


.section5 {
    width: 100%;
    display: flex;

    &_member {
        width: 70%;
        // text-align: center;
        background-color: #ea572a;
        padding: 14rem 0rem 16rem 18rem;
        // position: relative;

        h1 {
            width: 43%;
            font-size: 4rem;
            color: #ffffff;
        }
        &-input {
            flex-direction: column;
            padding-top: 2rem;
            
            input {
                // padding-bottom: 2rem;
                width: 30%;
                height: 2rem;
                margin-bottom: 1rem;
            }

        }

        button {
            height: 2rem;
            width: 15%;
            font-size: 1.2rem;
            background-color: #414042;
            color: #ffffff;
        }
    }

    img {
        margin-right: -1rem;
        position: absolute;
        z-index: 1;
        right: 221px;
        margin-top: 4.5rem;
        height: 680px;
    }
}

.section6 {
    width: 100%;
    height: 970px;
    padding-left: 240px;
    padding-top: 150px;
    background-image: url('/img/Layer\ 17.png');


    &_were {
        width: 440px;
        height: 340px;
        background-color: #414042;
        color: #ffffff;
        padding: 2rem 1rem 1rem 2rem;


        span {
            font-size: 1.2rem;
            font-style: italic;
            color: #ea572a;
        }

        h1 {
            width: 100%;
            font-size: 3.5rem;
            padding-top: 1rem;
        }

        p {
            width: 100%;
            font-size: 1.4rem;
        }
    }

    &_layout {
        width: 440px;
        color: #ffffff;
        display: flex;


        &-item {
            width: 250px;
            height: 340px;
            background-color: #3994d1;
            padding: 2rem 1rem 1rem 2rem;

            span {
                font-size: 1.2rem;
                font-style: italic;
            }

            h3 {
                width: 85%;
                font-size: 2.8rem;
                padding-top: 1rem;
            }
        }


        &-link {
            width: 190px;
            height: 225px;


            .bullhorn {
                width: 100%;
                font-size: 2.5rem;
                text-align: center;
                padding-top: 20%;
                height: 115px;
                background-color: #7853a2;
            }

            .flask {
                width: 100%;
                font-size: 2.5rem;
                text-align: center;
                padding-top: 20%;
                height: 115px;
                background-color: #ea572a;
            }
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}


.section7 {
    border: #e6e1f0 solid 30px;
    width: 100%;
    height: 970px;
    background-image: url('/img/Layer\ 20.png');


    &_wrapper {
        width: 100%;
        height: 100%;
    }


    &_form {
        display: flex;
        width: 100%;
        height: 100%;
        color: #ffffff;
        align-items: center;
        padding-left: 20%;


        &-item {
            width: 365px;
            height: 570px;
            background-color: #7853a2;
            padding-left: 3rem;
            padding-top: 1.8rem;

            h2 {
                font-size: 4rem;
            }

            p {
                font-size: 1.2rem;
                padding-top: 2rem;
            }

            .phone {
                font-size: 2.5rem;
                padding-top: 20px;
                

                i {
                    padding-right: 10px;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }

            .connect {
                font-size: 2.5rem;
                padding-top: 4rem;

                i {
                    padding-right: 1rem;
                }
            }

            .vist {
                font-size: 2.5rem;
                padding-top: 3rem;

                i {
                    padding-right: 10px;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }


        }

        &-input {
            width: 550px;
            height: 570px;
            background-color: #414042;
            padding: 40px 0px 0 37px;

            h1 {
                font-size: 3.2rem;
            }

            .input_text {
                padding-top: 2.8rem;
            }

            .name {
                margin-bottom: 1rem;
                height: 60px;
                width: 94%;
                font-size: 2.5rem;
            }

            .message input{
                height: 170px;
                width: 94%;
                font-size: 2.5rem;
                padding-bottom: 7rem;
                color: #ffffff;
            }

            button {
                height: 60px;
                width: 47%;margin-top: 1rem;
                font-size: 2rem;
                color: #ffffff;
                background-color: #ea572a;
            }
        }
    }
}



.footer {
    background-color: #414042;
    height: 350px;
    display: flex;
    padding-left: 100px;
    align-items: center;

    &_link {
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        a {
            font-size: 1.2rem;
            color: #ffffff;
            text-decoration: none;
            box-shadow: 0 3px #fff;
        }
    }

    &_logo {
        width: 30%;
        height: 100px;
        background-color: #ea572a;
        /* padding-left: 4rem; */
        margin-left: 6rem;
        padding: 25px 0 0 50px;
    }
}







//mobi

@media only screen and (max-width: 767.98px) {
    html {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .header {
        width: 100%;
        height: auto;

        .repuclic {
            right: 25px;
        }
        


        #menu {
            width: 10%;
            height: 93%;
            background-color: #7853a2;
            border: none;
            color: #ffffff;
            /* margin-top: 0; */
            font-size: 2rem;
            margin-left: 3rem;
        }

        .container_link {
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            height: 0px;
            margin-top: 3rem;
            margin-left: -26px;
            align-items: center;
            background-color: #dd9174;
            .item {
                box-shadow: none;
                font-size: 2rem;
                margin-bottom: 20px;
                padding-top: 37px;
                border-bottom: #ffffff solid;
            }

            a {
                margin-bottom: 20px;
                margin-left: -2rem;
            }
        }

        .container_item-link, .layer {
            display: none;
        }

        .container_conten {
            padding: 0;
            /* margin-left: 4rem; */
            width: 100%;
            padding-left: 4rem;
            margin-top: 20px;
            font-size: 2rem;
        }

        .conten {
            margin: 0;
            width: 100%;
            padding-left: 2rem
        }

        .shape {
            display: none;
            width: 34%;
            padding-left: 28px;
            margin-top: -14rem;
        }

    }

    .container_paging {
        font-size: 1.5rem;
        &-heart {
            margin-left: -2rem;
            padding-bottom: 2rem;
        }

        i {
            margin-right: -5rem;
        }
    }
    .section1 {
        width: 100%;
        
    
        &_products {
            width: 100%;
            height: auto;
            flex-direction: column;
    
            &-conten {
                width: 100%;
                margin: 0;

                h1 {
                    padding: 20px 17px;
                }

                p {
                    padding: 20px 20px;
                    width: 100%;
                }

                button {
                    width: 100%;
                    margin-top: 40px;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }

            &-image {
                width: 100%;
                flex-direction: column;

                &-one {
                    width: 100%;
                    height: auto;
                    margin: 0;

                    h3 {
                        padding-bottom: 2rem;
                    }
                }

                h1 {
                    display: none;
                }

                &-tow {
                    margin-top: 2rem;
                    width: 100%;
                    height: auto;
                    margin: 20px 0 0 0;

                    .tow_item {
                        padding-top: 35px;

                        h3 {
                            padding-bottom: 2rem;
                        }
                    }
                }

                &-three {
                    margin: 20px 0 0 0;
                    width: 100%;
                    height: auto;
                    


                    img {
                        width: 100%;
                        height: 500px;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }



    .section2 {
        width: 100%;
        flex-direction: column-reverse;

        &_conten {
            width: 100%;
            margin-left: 20px;

            h1 {
                width: 100%;
                margin-top: 25px;
            }

            p {
                width: 100%;
                padding-bottom: 2rem;
            }
            

        }

        img {
            width: 100%;
        }
    }



    .section3 {
        width: 100%;

        img {
            width: 100%;
        }

        &_conten {
            width: 100%;
            flex-direction: column;
            padding-left: 0;

            &-even {
                width: 100%;
                padding-left: 10px;
                

                h1 {
                    width: 100%;
                    font-size: 3rem;
                }
            }

            &-calendar {
                width: 100%;
                margin-left: 0;
                text-align: center;

                i {
                    padding-left: 0;
                    font-size: 2.5rem;
                }
            }

            &-hotel {
                width: 100%;
                padding-left: 0;
                flex-direction: column;
                text-align: center;
                padding-bottom: 2rem;

                i {
                    padding-right: 0;
                    font-size: 2.5rem;
                    padding-bottom: 1rem;
                }

                h2 {
                    width: 100%;
                }
            }
        }
    }



    .section4 {
        width: 100%;
        padding-left: 10px;
        padding-top: 4rem;

        &_item {
            position: static;


            h1, p, .section4_item-link {
                width: 100%;
            }
        }

        img {
            display: none;
        }
    }


    .section5 {
        width: 100%;
        height: 550px;

        &_member {
            width: 50%;
            padding: 0;
            padding-top: 20%;

            h1 {
                width: 100%;
                padding-left: 1rem;
                font-size: 2.5rem;
            }

            &-input {
                width: 80%;
                margin: 0 auto;

                input {
                    width: 100%;
                }
            }

            button {
                width: 100%;
                height: 50px;
            }
        }

        img {
            position: static;
            width: 50%;
            height: 550px;
            margin-top: 0;
        }
    }

    .section6 {
        width: 100%;
        padding: 0;
        padding-top: 25%;

        &_were {
            width: 100%;
            h1 {
                font-size: 3rem;
            }
        }


        &_layout {
            width: 100%;
            flex-direction: column;

            &-item {
                width: 100%;
                height: auto;
            }


            &-link {
                width: 100%;
                display: flex;


                .bullhorn {
                    width: 100%;
                    padding-top: 27px;
                }

                .flask {
                    width: 100%;
                    padding-top: 27px;
                }
            }
        }
    }



    .section7 {
        width: 100%;
        height: auto;


        &_wrapper {
            width: 100%;
            height: auto;

            .section7_form {
                width: 100%;
                height: auto;
                flex-direction: column;
                padding-left: 0;


                &-item {
                    height: auto;
                    width: 100%;
                    padding-left: 2rem;

                    .phone {
                        i {
                            font-size: 2rem;
                        }

                        a {
                            font-size: 2rem;
                        }
                    }


                    .vist {
                        padding-bottom: 2rem;
                    }
                }

                &-input {
                    height: auto;
                    width: 100%;


                    button {
                        width: 94%;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }


    .footer {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-left: 0;


        &_link {
            width: 100%;
            padding-top: 10%;
            flex-direction: column;

            a {
                margin: 0 auto;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
        }


        &_logo {
            width: 40%;
            margin-left: 0;
            height: auto;
            margin-bottom: 2rem;

            img {
                width: 100%;
                padding-right: 45px;
                padding-bottom: 1rem;
            }
        }
    }
}





@media only screen and (min-width: 768px) {
   #menu {
    display: none;
   }

    .header {
        width: 100%;
        height: auto;

        .container {
            width: 100%;


            &_link {
                width: 60%;
                padding-left: 0;
            }


            &_item {
                width: 15%;
                padding-right: 0;
            }
        }


        .repuclic {
            width: 25%;
            right: 0;
        }

        img {
            height: 66%;
            margin-left: 12%;
        }

        .container_conten {
            width: 40%;
            height: auto;
            padding-left: 14%;
        }

        .conten {
            width: 25%;
            height: auto;
            margin-left: 27%;
        }

        .swan {
            width: 100%;

            .shape {
                position: absolute;
                z-index: 1;
                width: 30%;
                right: 10rem;
                padding-left: 4rem;
                bottom: 20%;
            }

            .container_paging {
                width: 50%;
                /* margin-left: 0; */
                padding-top: 4rem;
                padding-bottom: 2rem;
            }
        }
    }


    main {
        width: 100%;


        .section1 {
            width: 100%;
    
            &_products {
                width: 100%;
                height: auto;
    
                &-conten {
                    width: 45%;
                    height: auto;
                    margin-left: 15%;
                
    
                    h1 {
                        width: 100%;
                    }
    
                    p {
                        width: 65%;
                    }
    
                    button  {
                        margin-bottom: 4rem;
                    }
                }
    
                &-image {
                    width: 55%;
        
        
                    &-one {
                        width: 70%;
                        height: auto;
                        margin: 0;
                    }
        
                    &-tow {
                        width: 70%;
                        height: auto;
                        margin: 0;
                        margin-left: 2rem;
                    }
        
                    h1 {
                        font-size: 6.5rem;
                        right: 6%;
                    }
        
        
                    &-three {
                        width: 70%;
                        height: auto;
                        margin: 0;
                        margin-left: 2rem;
                    }
                }
    
            }
    
        }
nop

        .section2 {
            width: 100%;
            height: auto;

            &_conten {
                width: 100%;
                margin-left: 10%;
                height: auto;

                p {
                    margin-bottom: 2rem;
                }
            }

            img {
                width: 50%;
                height: auto;
            }
        }


        .section3 {
            width: 100%;

            img {
                width: 100%;
            }

            &_conten {
                width: 100%;
                padding-left: 14%;


                &-even {
                    width: 60%;

                    h1 {
                        width: 100%;
                    }
                }

                &-calendar {
                    width: 21%;
                    margin-left: 5%;

                    i {
                        width: 100%;
                        padding-left: 30%;
                    }

                    span {
                        width: 100%;
                        margin-left: 10%;
                        font-size: 1.5rem;
                    }
                }

                &-hotel {
                    width: 35%;
                    padding-left: 3%;
                    /* font-size: 1rem; */
                    margin-top: 10%;

                    &-item {
                        width: 100%;

                        h2 {
                            width: 100%;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        

        .section4 {
            width: 100%;
            padding-left: 14%;
           

            &_item {
                width: 100%;
                position: static;


                h1 {
                    width: 70%;
                }

                p {
                    width: 50%;
                }
            }

            // img {
            //     padding-right: 2%;
            //     margin-left: 47%;
            // }

            img {
                padding-right: 15%;
                margin-left: 44%;
                position: absolute;
                margin-top: 8%;
            }
        }



        .section5 {
            width: 100%;

            &_member {
                width: 70%;
            }

            img {
                right: 15%;
            }
        }

        .section7 {
            // width: 100%;

            &_form {
                width: 100%;
                padding-left: 20%;
            }
        }
    }

    .footer {
        width: 100%;

        &_link {
            width: 80%;
        }


        &_logo {
            width: 30%;
        }
    }

    
}
