* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  font-family: "Built Titling", sans-serif;
}

.header {
  width: 100%;
  height: 800px;
  background-color: #7853a2;
}
.header .repuclic {
  z-index: 2;
  right: 94px;
  position: absolute;
  top: 1.8rem;
}

.container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}
.container_link {
  width: 60%;
  justify-content: space-around;
  display: flex;
  font-size: 1.2rem;
  padding-left: 2rem;
}
.container_link .item {
  box-shadow: 0 3px #fff;
}
.container_link a {
  text-decoration: none;
  color: #fff;
}
.container_item {
  width: 27%;
  display: flex;
  justify-content: end;
  padding-right: 4rem;
  margin-top: 5px;
}
.container_item-link {
  color: #fff;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.container_item-link i {
  padding-right: 2rem;
}
.container_conten {
  color: #fff;
  font-size: 3rem;
  width: 40%;
  height: 120px;
  padding-left: 14rem;
  margin-top: 8rem;
}

.layer {
  margin-left: 12rem;
  position: absolute;
  padding-top: 7rem;
  height: 140%;
}

.conten {
  color: #fff;
  font-size: 1.2rem;
  width: 25%;
  margin: 0 auto;
  height: 200px;
  background-color: #ba469a;
  margin-left: 24rem;
}
.conten p {
  padding: 2rem;
}

.shape {
  width: 30%;
  margin-left: 60%;
  margin-top: -20rem;
}
.shape img {
  width: 100%;
}

.container_paging {
  margin-left: 6.1rem;
  justify-content: space-between;
  width: 46%;
  display: flex;
  font-size: 2rem;
}
.container_paging-heart {
  color: #e4dfef;
}
.container_paging-heart a {
  color: #ea572a;
}
.container_paging i {
  color: #e4dfef;
}

main {
  overflow-x: hidden;
}

.section1 {
  width: 100%;
  background-color: #3994d1;
}
.section1_products {
  width: 100%;
  height: 969px;
  display: flex;
  align-items: center;
}
.section1_products-conten {
  width: 44%;
  height: 520px;
  color: #fff;
  margin-left: 14%;
}
.section1_products-conten h1 {
  font-size: 3.2rem;
  font-weight: 500;
}
.section1_products-conten p {
  width: 65%;
  font-size: 1.2rem;
  padding-top: 6rem;
}
.section1_products-conten button {
  margin-top: 8rem;
  width: 65%;
  height: 80px;
  background-color: #5da7d9;
  border: none;
}
.section1_products-conten button a {
  text-decoration: none;
  box-shadow: 0 3px #fff;
  padding: 4px;
  color: #fff;
}
.section1_products-image {
  display: flex;
}
.section1_products-image-one {
  width: 260px;
  height: 460px;
  background-color: #e4dfef;
  align-items: center;
  margin: -3rem 45px 0px -10rem;
}
.section1_products-image-one img {
  width: 100%;
  padding-bottom: 2rem;
}
.section1_products-image-one span {
  margin-left: 25px;
}
.section1_products-image-one h3 {
  width: 90%;
  padding-top: 3rem;
  font-weight: 400;
  margin-left: 25px;
  font-size: 1.5rem;
}
.section1_products-image-tow {
  width: 260px;
  height: 460px;
  background-color: #7853a2;
  align-items: center;
  margin: -3rem 72px 0 0rem;
}
.section1_products-image-tow .tow_item {
  padding-top: 110%;
  color: #ffffff;
}
.section1_products-image-tow .tow_item span {
  margin-left: 25px;
}
.section1_products-image-tow .tow_item h3 {
  width: 90%;
  padding-top: 3rem;
  font-weight: 600;
  margin-left: 25px;
  font-size: 1.5rem;
  font-style: italic;
}
.section1_products-image h1 {
  position: absolute;
  font-size: 7.5rem;
  z-index: 1;
  right: 113px;
  color: #e5e0f0;
}
.section1_products-image-three {
  width: 260px;
  height: 460px;
  background-color: #ea572a;
  align-items: center;
  margin: -3rem 0 0 -26px;
  position: relative;
  z-index: 1;
}
.section1_products-image-three img {
  width: 100%;
  padding-bottom: 2rem;
}
.section1_products-image-three .three_item {
  padding-top: 24px;
  color: #ffffff;
}
.section1_products-image-three .three_item span {
  margin-left: 25px;
}
.section1_products-image-three .three_item h3 {
  width: 100%;
  padding-top: 2rem;
  font-weight: 600;
  margin-left: 25px;
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 3.2rem;
}

.section2 {
  width: 100%;
  border: #e6e1f0 solid 30px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.section2 img {
  width: 50%;
}
.section2_conten {
  width: 50%;
  margin-left: 10rem;
}
.section2_conten span {
  font-size: 2.8rem;
  color: #414042;
}
.section2_conten h1 {
  width: 52%;
  margin-top: 7rem;
  font-size: 3.5rem;
  color: #7853a2;
}
.section2_conten p {
  margin-top: 20px;
  width: 90%;
  color: #414042;
}

.section3 {
  width: 100%;
  position: relative;
}
.section3 img {
  width: 100%;
}
.section3 .directional {
  position: absolute;
  width: 90%;
  font-size: 4rem;
  color: #eb562b;
  top: 500px;
  margin-left: 5rem;
}
.section3 .directional .right {
  position: absolute;
  z-index: 1;
  right: 0;
}
.section3_conten {
  padding-left: 14rem;
  width: 100%;
  background-color: #9277b5;
  display: flex;
  margin-top: -3px;
  padding-top: 2rem;
}
.section3_conten-even {
  width: 40%;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 2;
}
.section3_conten-even h1 {
  width: 120%;
  font-size: 3.5rem;
  padding: 1rem 0;
}
.section3_conten-even p {
  padding-bottom: 4rem;
}
.section3_conten-calendar {
  width: 21%;
  background-color: #7853a2;
  margin-top: -30px;
  z-index: 1;
  display: grid;
  font-size: 3rem;
  align-items: center;
  margin-left: 4.5rem;
  color: #ffffff;
}
.section3_conten-calendar i {
  padding-left: 6rem;
  font-size: 5rem;
  padding-top: 1rem;
}
.section3_conten-calendar span {
  margin-bottom: 3rem;
  margin-left: 10px;
}
.section3_conten-hotel {
  padding-left: 3rem;
  width: 30%;
  font-size: 1.4rem;
  margin-top: 4rem;
  display: flex;
  color: #ffffff;
}
.section3_conten-hotel i {
  font-size: 2.8rem;
  padding-right: 1rem;
}
.section3_conten-hotel h2 {
  width: 110%;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.section4 {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding-left: 14rem;
}
.section4_item {
  position: absolute;
}
.section4 img {
  width: 47%;
  padding-bottom: 7rem;
  margin-top: 9%;
  position: relative;
  padding-right: -56rem;
  margin-left: 35rem;
}
.section4 h1 {
  width: 70%;
  font-size: 3.8rem;
  padding-bottom: 3rem;
  color: #ea572a;
}
.section4 p {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.p {
  width: 39%;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.section4_item-link {
  display: flex;
  color: #414042;
}
.section4_item-link i {
  font-size: 2.5rem;
  color: #f6b5a1;
  margin-right: 20px;
}
.section4_item-link h2 {
  font-size: 2.1rem;
}

.section5 {
  width: 100%;
  display: flex;
}
.section5_member {
  width: 70%;
  background-color: #ea572a;
  padding: 14rem 0rem 16rem 18rem;
}
.section5_member h1 {
  width: 43%;
  font-size: 4rem;
  color: #ffffff;
}
.section5_member-input {
  flex-direction: column;
  padding-top: 2rem;
}
.section5_member-input input {
  width: 30%;
  height: 2rem;
  margin-bottom: 1rem;
}
.section5_member button {
  height: 2rem;
  width: 15%;
  font-size: 1.2rem;
  background-color: #414042;
  color: #ffffff;
}
.section5 img {
  margin-right: -1rem;
  position: absolute;
  z-index: 1;
  right: 221px;
  margin-top: 4.5rem;
  height: 680px;
}

.section6 {
  width: 100%;
  height: 970px;
  padding-left: 240px;
  padding-top: 150px;
  background-image: url("/img/Layer 17.png");
}
.section6_were {
  width: 440px;
  height: 340px;
  background-color: #414042;
  color: #ffffff;
  padding: 2rem 1rem 1rem 2rem;
}
.section6_were span {
  font-size: 1.2rem;
  font-style: italic;
  color: #ea572a;
}
.section6_were h1 {
  width: 100%;
  font-size: 3.5rem;
  padding-top: 1rem;
}
.section6_were p {
  width: 100%;
  font-size: 1.4rem;
}
.section6_layout {
  width: 440px;
  color: #ffffff;
  display: flex;
}
.section6_layout-item {
  width: 250px;
  height: 340px;
  background-color: #3994d1;
  padding: 2rem 1rem 1rem 2rem;
}
.section6_layout-item span {
  font-size: 1.2rem;
  font-style: italic;
}
.section6_layout-item h3 {
  width: 86%;
  font-size: 2.7rem;
  padding-top: 1rem;
}
.section6_layout-link {
  width: 190px;
  height: 225px;
}
.section6_layout-link .bullhorn {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20%;
  height: 115px;
  background-color: #7853a2;
}
.section6_layout-link .flask {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20%;
  height: 115px;
  background-color: #ea572a;
}
.section6_layout a {
  color: #ffffff;
  text-decoration: none;
}

.section7 {
  border: #e6e1f0 solid 30px;
  width: 100%;
  height: 970px;
  background-image: url("/img/Layer 20.png");
}
.section7_wrapper {
  width: 100%;
  height: 100%;
}
.section7_form {
  display: flex;
  width: 100%;
  height: 100%;
  color: #ffffff;
  align-items: center;
  padding-left: 20%;
}
.section7_form-item {
  width: 365px;
  height: 570px;
  background-color: #7853a2;
  padding-left: 3rem;
  padding-top: 1.8rem;
}
.section7_form-item h2 {
  font-size: 3.7rem;
}
.section7_form-item p {
  font-size: 1.2rem;
  padding-top: 2rem;
}
.section7_form-item .phone {
  font-size: 2.5rem;
  padding-top: 20px;
}
.section7_form-item .phone i {
  padding-right: 10px;
}
.section7_form-item .phone a {
  text-decoration: none;
  color: #ffffff;
}
.section7_form-item .connect {
  font-size: 2.5rem;
  padding-top: 4rem;
}
.section7_form-item .connect i {
  padding-right: 1rem;
}
.section7_form-item .vist {
  font-size: 2.5rem;
  padding-top: 3rem;
}
.section7_form-item .vist i {
  padding-right: 10px;
}
.section7_form-item .vist a {
  text-decoration: none;
  color: #ffffff;
}
.section7_form-input {
  width: 550px;
  height: 570px;
  background-color: #414042;
  padding: 40px 0px 0 37px;
}
.section7_form-input h1 {
  font-size: 3.2rem;
}
.section7_form-input .input_text {
  padding-top: 2.8rem;
}
.section7_form-input .name {
  margin-bottom: 1rem;
  height: 60px;
  width: 94%;
  font-size: 2.5rem;
}
.section7_form-input .message input {
  height: 170px;
  width: 94%;
  font-size: 2.5rem;
  padding-bottom: 7rem;
  color: #ffffff;
}
.section7_form-input button {
  height: 60px;
  width: 47%;
  margin-top: 1rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #ea572a;
}

.footer {
  background-color: #414042;
  height: 350px;
  display: flex;
  padding-left: 100px;
  align-items: center;
}
.footer_link {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.footer_link a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 3px #fff;
}
.footer_logo {
  width: 30%;
  height: 100px;
  background-color: #ea572a;
  /* padding-left: 4rem; */
  margin-left: 6rem;
  padding: 25px 0 0 50px;
}

a:hover,
i:hover,
span:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.repuclic:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 767.98px) {
  html {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .header {
    width: 100%;
    height: auto;
  }
  .header .repuclic {
    right: 25px;
  }
  .header #menu {
    width: 10%;
    height: 93%;
    background-color: #7853a2;
    border: none;
    color: #ffffff;
    /* margin-top: 0; */
    font-size: 2rem;
    margin-left: 3rem;
  }
  .header .container_link {
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 0px;
    margin-top: 3rem;
    margin-left: -26px;
    align-items: center;
    background-color: #dd9174;
  }
  .header .container_link .item {
    box-shadow: none;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 37px;
    border-bottom: #ffffff solid;
  }
  .header .container_link a {
    margin-bottom: 20px;
    margin-left: -2rem;
  }
  .header .container_item-link, .header .layer {
    display: none;
  }
  .header .container_conten {
    padding: 0;
    /* margin-left: 4rem; */
    width: 100%;
    padding-left: 4rem;
    margin-top: 20px;
    font-size: 2rem;
  }
  .header .conten {
    margin: 0;
    width: 100%;
    padding-left: 2rem;
  }
  .header .shape {
    display: none;
    width: 34%;
    padding-left: 28px;
    margin-top: -14rem;
  }
  .container_paging {
    font-size: 1.5rem;
  }
  .container_paging-heart {
    margin-left: -2rem;
    padding-bottom: 2rem;
  }
  .container_paging i {
    margin-right: -5rem;
  }
  .section1 {
    width: 100%;
  }
  .section1_products {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .section1_products-conten {
    width: 100%;
    margin: 0;
  }
  .section1_products-conten h1 {
    padding: 20px 17px;
  }
  .section1_products-conten p {
    padding: 20px 20px;
    width: 100%;
  }
  .section1_products-conten button {
    width: 100%;
    margin-top: 40px;
  }
  .section1_products-conten button a {
    font-size: 1.2rem;
  }
  .section1_products-image {
    width: 100%;
    flex-direction: column;
  }
  .section1_products-image-one {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .section1_products-image-one h3 {
    padding-bottom: 2rem;
  }
  .section1_products-image h1 {
    display: none;
  }
  .section1_products-image-tow {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
  }
  .section1_products-image-tow .tow_item {
    padding-top: 35px;
  }
  .section1_products-image-tow .tow_item h3 {
    padding-bottom: 2rem;
  }
  .section1_products-image-three {
    margin: 20px 0 0 0;
    width: 100%;
    height: auto;
  }
  .section1_products-image-three img {
    width: 100%;
    height: 500px;
    padding-bottom: 0;
  }
  .section2 {
    width: 100%;
    flex-direction: column-reverse;
  }
  .section2_conten {
    width: 100%;
    margin-left: 20px;
  }
  .section2_conten h1 {
    width: 100%;
    margin-top: 25px;
  }
  .section2_conten p {
    width: 100%;
    padding-bottom: 2rem;
  }
  .section2 img {
    width: 100%;
  }
  .section3 {
    width: 100%;
  }
  .section3 img {
    width: 100%;
  }
  .section3 .directional {
    width: 100%;
    top: 140px;
    font-size: 2rem;
    margin-left: 0;
  }
  .section3_conten {
    width: 100%;
    flex-direction: column;
    padding-left: 0;
  }
  .section3_conten-even {
    width: 100%;
    padding-left: 10px;
  }
  .section3_conten-even h1 {
    width: 100%;
    font-size: 3rem;
  }
  .section3_conten-calendar {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .section3_conten-calendar i {
    padding-left: 0;
    font-size: 2.5rem;
  }
  .section3_conten-hotel {
    width: 100%;
    padding-left: 0;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
  }
  .section3_conten-hotel i {
    padding-right: 0;
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  .section3_conten-hotel h2 {
    width: 100%;
  }
  .section4 {
    width: 100%;
    padding-left: 10px;
    padding-top: 4rem;
  }
  .section4_item {
    position: static;
  }
  .section4_item h1, .section4_item p, .section4_item .section4_item-link {
    width: 100%;
  }
  .section4 img {
    display: none;
  }
  .section5 {
    width: 100%;
    height: 550px;
  }
  .section5_member {
    width: 50%;
    padding: 0;
    padding-top: 20%;
  }
  .section5_member h1 {
    width: 100%;
    padding-left: 1rem;
    font-size: 2.5rem;
  }
  .section5_member-input {
    width: 80%;
    margin: 0 auto;
  }
  .section5_member-input input {
    width: 100%;
  }
  .section5_member button {
    width: 100%;
    height: 50px;
  }
  .section5 img {
    position: static;
    width: 50%;
    height: 550px;
    margin-top: 0;
  }
  .section6 {
    width: 100%;
    padding: 0;
    padding-top: 25%;
  }
  .section6_were {
    width: 100%;
  }
  .section6_were h1 {
    font-size: 3rem;
  }
  .section6_layout {
    width: 100%;
    flex-direction: column;
  }
  .section6_layout-item {
    width: 100%;
    height: auto;
  }
  .section6_layout-link {
    width: 100%;
    display: flex;
  }
  .section6_layout-link .bullhorn {
    width: 100%;
    padding-top: 27px;
  }
  .section6_layout-link .flask {
    width: 100%;
    padding-top: 27px;
  }
  .section7 {
    width: 100%;
    height: auto;
  }
  .section7_wrapper {
    width: 100%;
    height: auto;
  }
  .section7_wrapper .section7_form {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-left: 0;
  }
  .section7_wrapper .section7_form-item {
    height: auto;
    width: 100%;
    padding-left: 2rem;
  }
  .section7_wrapper .section7_form-item .phone i {
    font-size: 2rem;
  }
  .section7_wrapper .section7_form-item .phone a {
    font-size: 2rem;
  }
  .section7_wrapper .section7_form-item .vist {
    padding-bottom: 2rem;
  }
  .section7_wrapper .section7_form-input {
    height: auto;
    width: 100%;
  }
  .section7_wrapper .section7_form-input button {
    width: 94%;
    margin-bottom: 2rem;
  }
  .footer {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-left: 0;
  }
  .footer_link {
    width: 100%;
    padding-top: 10%;
    flex-direction: column;
  }
  .footer_link a {
    margin: 0 auto;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .footer_logo {
    width: 40%;
    margin-left: 0;
    height: auto;
    margin-bottom: 2rem;
  }
  .footer_logo img {
    width: 100%;
    padding-right: 45px;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }
  .header {
    width: 100%;
    height: auto;
  }
  .header .layer {
    height: 1060px;
  }
  .header .container {
    width: 100%;
  }
  .header .container_link {
    width: 60%;
    padding-left: 0;
  }
  .header .container_link a {
    font-size: 18px;
  }
  .header .container_link .item a {
    font-size: 18px;
  }
  .header .container_item {
    padding-right: 0;
    padding-left: 200px;
    width: 30%;
  }
  .header .container_item-link {
    width: 100%;
  }
  .header .container_item-link img {
    font-size: 16px;
  }
  .header .repuclic {
    width: 20%;
    right: 0;
  }
  .header img {
    margin-left: 12%;
  }
  .header .container_conten {
    height: auto;
    padding-left: 14%;
    width: 30%;
    font-size: 54px;
  }
  .header .conten {
    width: 17%;
    height: auto;
    margin-left: 27%;
    font-size: 16px;
  }
  .header .swan {
    width: 100%;
    position: relative;
  }
  .header .swan .shape {
    position: absolute;
    z-index: 1;
    width: 35%;
    right: 10rem;
    padding-left: 4rem;
    bottom: 20%;
  }
  .header .swan .container_paging {
    width: 46%;
    /* margin-left: 0; */
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-left: 5%;
  }
  .header .swan .container_paging-heart {
    font-size: 20px;
  }
  .header .swan .container_paging a {
    box-shadow: 0 3px #fff;
  }
  .header .swan .container_paging i {
    font-size: 36px;
  }
  main {
    width: 100%;
  }
  main .section1 {
    width: 100%;
  }
  main .section1_products {
    width: 100%;
    height: 970px;
    position: relative;
  }
  main .section1_products-conten {
    width: 45%;
    height: 510px;
    margin-left: 15%;
    padding-top: 4rem;
  }
  main .section1_products-conten h1 {
    width: 70%;
    font-size: 54px;
  }
  main .section1_products-conten p {
    width: 40%;
    padding-top: 50px;
    font-size: 16px;
  }
  main .section1_products-conten button {
    margin-bottom: 4rem;
    width: 445px;
    height: 130px;
  }
  main .section1_products-conten button a {
    font-size: 18px;
  }
  main .section1_products-image {
    width: 785px;
    height: 457px;
    position: absolute;
    margin-left: 52%;
  }
  main .section1_products-image-one {
    width: 70%;
    height: auto;
    margin: 0;
  }
  main .section1_products-image-one .one_item span {
    font-size: 16px;
  }
  main .section1_products-image-one .one_item h3 {
    font-size: 22px;
  }
  main .section1_products-image-tow {
    width: 70%;
    height: auto;
    margin: 0;
    margin-left: 2rem;
  }
  main .section1_products-image-tow .tow_item span {
    font-size: 16px;
  }
  main .section1_products-image-tow .tow_item h3 {
    font-size: 22px;
  }
  main .section1_products-image h1 {
    font-size: 87px;
    right: 21%;
    margin-top: 3rem;
  }
  main .section1_products-image-three {
    width: 70%;
    height: auto;
    margin: 0;
    margin-left: 2rem;
  }
  main .section1_products-image-three .three_item span {
    font-size: 16px;
  }
  main .section1_products-image-three .three_item h3 {
    font-size: 22px;
  }
  main .section2 {
    width: 100%;
    height: auto;
  }
  main .section2_conten {
    width: 100%;
    margin-left: 10%;
    height: auto;
    font-size: 32px;
  }
  main .section2_conten h1 {
    font-size: 54px;
    width: 24%;
  }
  main .section2_conten p {
    font-size: 16px;
    width: 49%;
    margin-bottom: 2rem;
  }
  main .section2 img {
    width: 50%;
    height: auto;
  }
  main .section3 {
    width: 100%;
  }
  main .section3 .directional {
    position: absolute;
    width: 90%;
    font-size: 4rem;
    color: #eb562b;
    top: 500px;
    margin-left: 5rem;
  }
  main .section3 img {
    width: 100%;
  }
  main .section3_conten {
    width: 100%;
    padding-left: 14%;
  }
  main .section3_conten-even {
    width: 667px;
  }
  main .section3_conten-even span {
    font-size: 16px;
  }
  main .section3_conten-even p {
    width: 238px;
    font-size: 16px;
  }
  main .section3_conten-even h1 {
    font-size: 54px;
    width: 100%;
  }
  main .section3_conten-calendar {
    width: 250px;
    margin-left: 5%;
  }
  main .section3_conten-calendar i {
    width: 100%;
    font-size: 87px;
    padding-left: 30%;
  }
  main .section3_conten-calendar span {
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin-left: 0;
  }
  main .section3_conten-hotel {
    align-items: center;
    width: 430px;
    padding-left: 3%;
    /* font-size: 1rem; */
    margin-top: 0;
  }
  main .section3_conten-hotel a {
    font-size: 32px;
    padding-right: 10px;
    margin-bottom: 2rem;
  }
  main .section3_conten-hotel-item {
    width: 100%;
  }
  main .section3_conten-hotel-item h2 {
    width: 100%;
    font-size: 32px;
  }
  main .section3_conten-hotel-item span {
    font-size: 16px;
  }
  main .section4 {
    width: 100%;
    padding-left: 14%;
    padding-top: 194px;
    padding-bottom: 250px;
  }
  main .section4_item {
    width: 100%;
    position: static;
    font-size: 54px;
  }
  main .section4_item-link img {
    font-size: 32px;
  }
  main .section4_item-link h2 {
    font-size: 32px;
  }
  main .section4_item-link p {
    font-size: 16px;
  }
  main .section4_item h1 {
    width: 70%;
  }
  main .section4_item p {
    width: 335px;
  }
  main .section4 img {
    position: absolute;
    margin-top: 8%;
    width: 47%;
    margin-left: 35%;
    padding-right: 12%;
  }
  main .section5 {
    width: 100%;
    height: 967px;
  }
  main .section5_member {
    width: 70%;
  }
  main .section5_member .home {
    width: 535px;
    height: 550px;
  }
  main .section5_member .home h1 {
    font-size: 96px;
  }
  main .section5_member .home .section5_member-input input {
    width: 443px;
    height: 60px;
    font-size: 32px;
  }
  main .section5_member .home button {
    border: none;
    width: 240px;
    height: 60px;
    font-size: 32px;
  }
  main .section5 img {
    height: 768px;
    margin-top: 100px;
    right: 15%;
  }
  main .section6_were span {
    font-size: 20px;
  }
  main .section6_were h1 {
    font-size: 54px;
  }
  main .section6_were p {
    font-size: 16px;
  }
  main .section6_were img {
    padding-top: 2rem;
  }
  main .section6_layout-item span {
    font-size: 16px;
  }
  main .section6_layout-item h3 {
    font-size: 32px;
    width: 100%;
  }
  main .section6_layout-link .bullhorn {
    font-size: 32px;
    padding-top: 0;
    border: none;
  }
  main .section6_layout-link .flask {
    border: none;
    font-size: 32px;
    padding-top: 0;
  }
  main .section7_form {
    width: 100%;
    padding-left: 20%;
  }
  main .section7_form-item {
    padding-top: 40px;
  }
  main .section7_form-item h2 {
    font-size: 48px;
  }
  main .section7_form-item p {
    font-size: 16px;
    padding-top: 35px;
  }
  main .section7_form-item .phone {
    font-size: 32px;
  }
  main .section7_form-item .connect {
    padding-top: 80px;
    font-size: 32px;
  }
  main .section7_form-item .vist {
    padding-top: 55px;
    font-size: 32px;
  }
  main .section7_form-input h1 {
    font-size: 48px;
  }
  main .section7_form-input .input_text input {
    font-size: 32px;
    width: 480px;
  }
  main .section7_form-input button {
    border: none;
    width: 240px;
    height: 60px;
    font-size: 32px;
  }
  .footer {
    width: 100%;
    height: 350px;
  }
  .footer_link {
    width: 80%;
  }
  .footer_link a {
    font-size: 18px;
    box-shadow: 0 2px #fff;
  }
  .footer_logo {
    height: 90px;
    width: 450px;
  }
}
@media only screen and ((min-width: 768px) and (max-width: 1366px)) {
  .section7 {
    width: 100%;
  }
  .section7_wrapper {
    width: 100%;
  }
  .section7_wrapper .section7_form {
    width: 100%;
    padding-left: 14%;
  }
}/*# sourceMappingURL=index.css.map */